<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<title>登录注册页</title>
<link rel="stylesheet" href="../asset/login/css/style.css">
</head>

<body>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>登录</h2>
            <p>点击进行登录</p>
            <button class="btn_login" onclick="cambiar_login()">登录</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>注册</h2>
            <p>免费注册</p>
            <button class="btn_sign_up" onclick="cambiar_sign_up()">注册</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey"> <img src="../asset/login/images/po.jpg" alt="" /> </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="../asset/login/images/po.jpg" alt="" /> </div>
        <div class="cont_form_login"> <a href="#" onclick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
          <h2>登录</h2>
          <input name="username" type="text" placeholder="Username" class="login_msg"/>
          <input name="password" type="password" placeholder="Password" class="login_msg"/>
          <button class="btn_login" onclick="cambiar_login()">登录</button>
        </div>
        <div class="cont_form_sign_up"> <a href="#" onclick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
          <h2>注册</h2>
          <!-- <input class="signupMsgs" type="text" placeholder="Email" /> -->
          <input class="signupMsgs" type="text" placeholder="User" />
          <input class="signupMsgs" type="password" placeholder="Password" />
          <input class="signupMsgs" type="password" placeholder="Confirm Password" />
          <button class="btn_sign_up" onclick="cambiar_sign_up()">注册</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../asset/plugs/jquery-3.4.1.min.js"></script>
<script src="../asset/login/js/index.js"></script>

</body>
</html>
